body{
    background-color:#BADCFE;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 100px;
    padding: 50px;
}

h2,a{
    color:#FEFFEF;
}

ul{
    list-style-type:square;
    list-style-position: inside;
    font-family: 'Courier New', Courier, monospace;
}