/* body{
    background-color:#7fb5a9;
    font-family: 'Heebo', sans-serif;
    margin: 100px;
    padding: 50px;
} */
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

html{
  align-items: center;
  background-color: #4592dd;
  display: flex;
  justify-content: center;
  font-family: 'Sulphur Point', sans-serif;
}

h1{
  font-size: 5vw;
  color:#a7dfd8;
}

.titles{  
  text-align: center;
  color:#a7dfd8;}

#Wrapper{
  align-items: center;
  /* background-color: #EEEFF7;
  display: flex;
  height: 500px;
  justify-content: center;
  width: 1000px; */
}

#Slideshow{
  top: -5vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

#Slider{
  margin-top: 0;
  height: 60vh;
  width: 60vw;
  overflow: hidden;

}

#Slider img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    cursor: pointer;
    transition: all 1s;
    filter: grayscale(1);
}

#Slider img:hover{
  filter: grayscale(0);
  transition: grayscale .5s;
}

#Arrows{
  position: absolute;
  top:45vh;
  display: flex;
  justify-content: space-between;
  height: 5vh;
  position: absolute;
  width: 80vw;
  left:10vw ;
  
}

#Arrows i{
  background-color:#a7dfd8;
  cursor: pointer;
  border-radius: 50%;
  height: 7vw;
  width:6vw;
 
  transition: background-color .5s, color .5s;
}

#Arrows i:first-of-type{ 
  padding-right: 1vw;
}

#Arrows i:last-of-type{ 
  padding-left: 1vw;
}

#Arrows i:hover{
  background-color:white;
}

.back{
  margin-top: 5vh;
  font-size: 2vw;
  text-align: center;
  color:#a7dfd8;
}

.back:hover{
  color:white;
  cursor: pointer;
}