@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
	position: relative;
}

body {
	font-family: 'Poppins', sans-serif;
	padding-bottom: 5vh;
	background-color:#2C2C2C;
}

li {
	display: grid;
	gap: var(--spacing);
}

img{
	width:5vw;
}


.container{
	background-image: url("../ElasticCollection/book_images/spread.png");
	background-size: cover;
	/* width: 1300px; 
	height: 800px; */
	width: 90vw;
	height: 85vh;
	justify-content: center;
	position: relative;
	margin-left: 5vw;
	overflow: hidden; /* Add overflow hidden */
	z-index: 50;
}

.header-container{
	color:white;
	margin-bottom:1vh;
	margin-top: 1vw;
}

#heading{	
	font-weight: 600;
	text-align: center;
	font-size: 2.1vw;
	margin-bottom: 0.5vh;
}

.menu-container{
	display: flex;
	justify-content: space-between;
}

.left-menu{
	margin-top: -2.2vw;
	font-size: 1vw ;
	letter-spacing: 0.2vw;
	font-weight: 200;
	width:30vw;
	margin-left: 4vw;
}

.left-items{
	display: flex;
	flex-direction: row;
	text-align: left;
	justify-content: space-around;
}

.right-menu{
	margin-top: -2.2vw;
	font-size: 1vw ;
	letter-spacing: 0.2vw;
	font-weight: 200;
	width:30vw;
	margin-right: 3.5vw;
}

.right-items{
	display: flex;
	flex-direction: row;
	text-align: right;
	justify-content: space-around;
}

 #collection {
	display: flex;
	flex-wrap: wrap;
	position: relative; 
	width: 94.5%;
	height: 85%;
	justify-content: center;
  }
  
.myimg{
	cursor: pointer;
}

/* The Modal (background) */
.modal {
	position: fixed; /* Stay in place */
	padding-top: 30vh; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: green;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40vw;
  }

  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  


