:root {
	--spacing: 1em;
}



body {
	font-family: sans-serif;
	padding: var(--spacing);
	padding-bottom: 33vh;
}


ul {
	display: grid;
	gap: calc(4 * var(--spacing));
	margin-top: calc(4 * var(--spacing));
}

li {
	display: grid;
	gap: var(--spacing);
}


img{
	width:200px;
}