@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
	position: relative;
}

body {
	font-family: 'Poppins', sans-serif;
	padding-bottom: 5vh;
	background-color:#2C2C2C;
}

li {
	display: grid;
	gap: var(--spacing);
}

img{
	width:5vw;
}

/* content container  */
.container{
	background-image: url("../ElasticCollection/book_images/spread.png");
	background-size: cover;
	/* width: 1300px; 
	height: 800px; */
	width: 90vw;
	height: 85vh;
	justify-content: center;
	position: relative;
	margin-left: 4.5vw;
	overflow: hidden; /* Add overflow hidden */
	z-index: 50;
}

/* header css */
.header-container{
	color:white;
	margin-bottom:1vh;
	margin-top: 1vw;
}

#heading{	
	font-weight: 600;
	text-align: center;
	font-size: 2.1vw;
}

.menu-container{
	display: flex;
	justify-content: space-between;
}

.left-menu{
	margin-top: -2.2vw;
	font-size: 1vw ;
	letter-spacing: 0.2vw;
	font-weight: 200;
	width:35vw;
	margin-left: 4vw;
}

.left-items{
	display: flex;
	flex-direction: row;
	text-align: left;
	justify-content: space-around;
}

.right-menu{
	margin-top: -2.2vw;
	font-size: 1vw ;
	letter-spacing: 0.2vw;
	font-weight: 200;
	width:18vw;
	margin-right: 4vw;
}

.right-items{
	display: flex;
	flex-direction: row;
	text-align: right;
	justify-content: space-around;
}

 #collection {
	display: flex;
	flex-wrap: wrap;
	position: relative; 
	width: 94.5%;
	height: 85%;
	justify-content: center;
  }
  
.myimg{
	cursor: pointer;

}


/*modal popup css*/

/* The Modal (background) */
.modal {
	position: fixed;
	padding-top: 30vh; /*position*/
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #2c2c2c;
	color:white;
	margin: auto;
	padding: 20px;
	width: 40vw;
  }

  /* The Close Button */
  .close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #888;
	text-decoration: none;
	cursor: pointer;
  }
  
/* css for buttons in header */
.button{
	border:none;
	outline:none;
	padding:1vh 1vw;
	cursor: pointer;
	z-index: 999;
}

.button:hover{
	background-color:#888;
}


/* toggle css */
.switch {
	position: absolute;
	display: inline-block;
	width: 60px;
	height: 34px;
	top:0;
	right:0;
	margin: 1vw;
	z-index: 999;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;

  }
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #2c2c2c;
	-webkit-transition: .4s;
	transition: .4s;
	}
	
	.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	}
	
	input:checked + .slider {
	background-color: white;
	}
	
	input:checked + .slider:before {
	background-color: black; /* added line to change color to black */
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	}
	
	.slider.round {
	border-radius: 34px;
	background-color: #000;
	}
	
	.slider.round:before {
	border-radius: 50%;
	}