body {
	font-family: sans-serif;
	padding-bottom: 10vh;
	background-color: black;
}


ul {
	display: grid;
	gap: calc(4 * var(--spacing));
	margin-top: calc(4 * var(--spacing));
}

li {
	display: grid;
	gap: var(--spacing);
}


img{
	width:5vw;
}


.container{
	background-color: white;
	/* width: 1300px; 
	height: 800px; */
	width: 90vw;
	height: 90vh;
	justify-content: center;
	position: relative;
	margin-left: 4vw;
	overflow: hidden; /* Add overflow hidden */
}


#heading{
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 5vw;
	padding-left:3vw;
	margin-bottom:5vw;
	margin-top: 1vw;;
	margin-left:1vw;
}

  
 #collection {
	display: flex;
	flex-wrap: wrap;
	position: relative; 
	width: 90%;
	height: 85%;
	justify-content: center;
  }




 /* .container {
	background-color: white;
	width: 90vw;
	height: 90vh;
	position: relative;
	margin-top: 0;
	margin-left: 4vw;
  } */

  /* .container{
	background-color: white;
	width: 90vw;
	height: 90vh;
	justify-content: center;
	margin-top: 10vw;
	position: relative; 
}
 */
 
 
/* .flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	gap:5vw;
	align-items: flex-end;
	margin-left:2vw;
} */

/* 
#collection {
	transition: transform 0.5s ease-in-out;
  }
  
#zoom-area.zoom #collection {
	transform: scale(4);
  } */

