@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html{
	position: fixed;
}

body {
	font-family: 'Poppins', sans-serif;
	padding-bottom: 5vh;
	background-color:white
}

header{
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	letter-spacing: 0.2vw;
}

li {
	display: grid;
	gap: var(--spacing);

}

span{
	font-size:1vw;
}

.header-container{
	color:#2C2C2C;;
	margin-top: 1vw;
	margin-bottom: 1vh;
}
.headingBox{
	display: flex;
	justify-content: center;
}

.title{
	font-weight: 600;
    text-align: center;
    font-size: 2.1vw;
    z-index: 999;
}

#heading:hover{
	color:#888
}


.heading-container{
	display: flex;
	justify-content: center;
}

#heading{	
	font-weight: 600;
	padding-left: 4vw;
	margin-top: 1vh;
	padding-bottom: 0;
	text-align: center;
	font-size: 2.1vw;
	cursor: pointer;
}

/* specific filters */
#wrap {
	display: flex;
	z-index: 99999;
	font-weight: 200;
	
  }
  
  .filter-container {
	display: flex;
	margin-top: 4vh;
	justify-content: space-evenly;
	flex-direction: column;
	background-color: white;
	padding: 2vh 2vw;
	position: absolute;
	z-index: 99999;
	width: 30vw;
	height: 40vh;
	top:15vw;
	left: 51.2vw;
  transform: translate(-50%, -50%);
  }
  
  .filterTitles {
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;
  }
  
  .filterType {
	display: flex;
	flex-direction: column;
	color: #2C2C2C;
	font-size: 1vw;
	letter-spacing: 0.2vw;
	font-weight: 300;
  }
  
  .filter {
	display: flex;
	top: 0;
	padding-top: 0.5vw;
	flex-direction: row;
	text-align: left;
	font-size: 0.9vw;
	justify-content: space-between;
  }
.g{
	margin-left:-1.8vw;
}

/* filter buttons */

.button2{
	border:none;
	outline:none;
	padding:0.3vh 0.1vw;
	cursor: pointer;
	z-index: 999;
}

.button2:hover{
	background-color:#888;
}



/* header css */

.menu-container{
	display: flex;
	justify-content: space-between;
}

.left-menu{
	margin-top: -2.7vw;
	font-size: 1vw ;
	letter-spacing: 0.2vw;
	font-weight: 200;
	width:35vw;
	margin-left: 4.2vw;
}

.left-items{
	display: flex;
	flex-direction: row;
	text-align: left;
	justify-content: space-around;
}

.right-menu{
	margin-top: -2.7vw;
	font-size: 1vw ;
	letter-spacing: 0.2vw;
	font-weight: 200;
	width:18vw;
	margin-right:-0.3vw;
}

.right-items{
	display: flex;
	flex-direction: row;
	text-align: right;
	justify-content: space-around;
}


/* content container  */
.container{
	background-image: url("../ElasticCollection/book_images/spread_b_edit.png");
	background-size: 100% 100%;
	width: 90vw;
	height: 85vh;
	justify-content: center;
	position: relative;
	margin-left: 4.5vw;
	overflow: auto;
	z-index: 50;
}


  .image-container {
	margin-top: 10vh;
	margin-left: 2.5vw;
	display: flex;
	flex-wrap: wrap;
	gap:5vw;
	justify-content: left;
	position:absolute; 
	padding-bottom: 5vw;
	align-items: flex-end;
  }


/* css for buttons in header */
.button{
	border:none;
	outline:none;
	padding:1vw 1vw;
	z-index: 999;
	cursor: pointer;
}

.button:hover{
	background-color:#888;
}


/* toggle css */
.switch {
	position: absolute;
	display: inline-block;
	width: 60px;
	height: 34px;
	top:0;
	right:0;
	margin: 1vw;
	z-index: 999;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;

  }
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: red;
	-webkit-transition: .4s;
	transition: .4s;
	}
	
	.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: black;
	-webkit-transition: .4s;
	transition: .4s;
	}
	
	input:checked + .slider {
	background-color: black;
	}
	
	input:checked + .slider:before {
	background-color: white; 
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	}
	
	.slider.round {
	border-radius: 34px;
	background-color: white;
	}
	
	.slider.round:before {
	border-radius: 50%;
	}


.myimg{
	width:10vw;
	cursor: pointer;
	box-shadow: 10px 10px 5px black;
	-moz-box-shadow: 10px 10px 5px black;
	-webkit-box-shadow: 10px 10px 5px black;
	-khtml-box-shadow: 10px 10px 5px black;
	
}

/*modal popup css*/

/* The Modal (background) */
.modal {
	position: fixed;
	margin-top: 30vh; /*position*/
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: white;
	margin: auto;
	padding: 20px;
	width: 40vw;
  }

  /* The Close Button */
  .close {
	color: #2C2C2C;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #888;
	text-decoration: none;
	cursor: pointer;
  }
  
/* scroll to top css */
.topButtonContainer{
	position: fixed;
	bottom: 1vh;
	right: 7vw; 
	margin-bottom: 1vh;
}


#myBtn {
	font-family: 'Poppins', sans-serif;
	font-size: 1vw;
	font-weight: 300;
	border: none;
	outline: none;
	background-color: white;
	color: black;
	cursor: pointer;
	padding: 1vw;
	margin-bottom: 6vh;
	border-radius: 0.5vw;
	z-index: 999;
}


#myBtn:hover {
	background-color: #2C2C2C;
	color:white;
}

/* mobile menu css */

.header {
	position: relative;
}

.mobile-navigation {
	max-height: 45vh;
	max-width: 25vw;
	position: fixed;
	display: flex;
	flex-direction: column;
	display: none;
	justify-content: left;
	padding: 1vw;
	margin-top: 0;
	margin-bottom: 0;
}

.mobile-navigation li {
	padding:1vw;
	font-size: 2.3vw;
	cursor: pointer;
	text-align: center;
}

.header.open .mobile-navigation {
	display: flex;
	background: #2C2C2C;
	color: white;
	position:fixed
}


/* small screen media query */
@media only screen and (max-width: 800px){

	.switch{
		display:none;
	}

	.menu-container{
		display: none;
	}
	 .header-container{
		display: none;
	}

	.filter-container{display: none}

	#wrap{
		display:none;
	  }

	#mobile-heading{
		position: relative;
		font-weight: 600;
		text-align: center;
		font-size: 4vw;
		padding-right: 3.5vw;
	}

.mobile-icons{
	font-size: 2vw;
	top:0;
	display:flex;
	justify-content: center;
	flex-direction: row;
	width:100vw;
	gap:20.5vw;
	margin-top:-0.5vw;
	margin-bottom: 5vh;
}

.mobile-filter {
	position: relative;
	margin-right: 3.2vw;
}

	.a{
		margin-left:2.9vw;
	}

	.mobile-navigation{
		margin-left: 3.3vw;
		margin-top:-5vh;
		z-index: 9999;
	}

	.container{
	background-size: 100% 100%;
	margin-top: 6vh;
	margin-left:3.3vw;
	bottom:5vh;
	}

	.image-container {
		margin-top: 5vh;
		margin-left: 8vw;
		justify-content: left;
		padding-bottom: 8vw;
	  }
	
	.myimg{
		width:20vw;
	}

	.topButtonContainer{
		position: fixed;
		right: 9vw;
	}

	#myBtn{
		font-size: 2vw;
		border-radius: 1vw;
		margin-bottom:7vh;
	}

	.modal{
		margin-top: 25vh;
	}

	.modal-content{
		width: 60vw;
	}

	h2{
		font-size: 5vw;
	}
	p{
		font-size: 4vw;
	}
	span{
		font-size: 3vw;
	}
}

/* large screen media query */
@media only screen and (min-width: 800px){
	.mobile-menu {
	  display: none;
	}
	#mobile-heading{
	  display: none;
  }
  .mobile-filter{
	  display: none;
  }
  .mobile-navigation{
	  display: none;
  }
  .right-mobileMenu{
	  display: none;
  }
  
  }
  

/* #zoom-area.zoom #collection {
	transform: scale(5);
  } */

   /* .container{
	background-color: white;
	width: 90vw;
	height: 90vh;
	justify-content: center;
	margin-top: 10vw;
	position: relative; 
}  */

 
/* .flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	gap:5vw;
	align-items: flex-end;
	margin-left:2vw;
}
 */

/* #collection {
	transition: transform 0.5s ease-in-out;
  }
  
#zoom-area.zoom #collection {
	transform: scale(4);
  } */