@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html { height: 100%; }

body {
    
    background-color: #2c2c2c;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

main {
    margin: 0;
    height: 90%;
}

img {
    max-width: 10vw;
    max-height: 5vh;
    margin:0;
}

ul {
    display: grid;
}

li {
    display: grid;
    gap: var(--spacing);
}

header{
    color:white;
}


/* header css */
.header-container{
	color:white;
	margin-bottom:1vh;
	margin-top: 1vw;
}

#heading{	
	font-weight: 600;
	text-align: center;
	font-size: 2.1vw;
}

.menu-container{
	display: flex;
	justify-content: space-between;
}

.left-menu{
	margin-top: -2.2vw;
	font-size: 1vw ;
	letter-spacing: 0.2vw;
	font-weight: 200;
	width:35vw;
	margin-left: 5vw;
}

.left-items{
	display: flex;
	flex-direction: row;
	text-align: left;
	justify-content: space-around;
}

.right-menu{
	margin-top: -2.2vw;
	font-size: 1vw ;
	letter-spacing: 0.2vw;
	font-weight: 200;
	width:18vw;
	margin-right: 3.9vw;
}

.right-items{
	display: flex;
	flex-direction: row;
	text-align: right;
	justify-content: space-around;
}


.words-menu {
    float: left;
    overflow-y: auto;
    width: 20%;
    height: 100%;
    margin-left: 2.5vw;
    margin-top: 0.2vh;
}

.container {
    max-width: 30vw;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 2vw;
    align-items: flex-end;
    overflow-y: scroll; 
}


.writing-section {
    float: right;
    width: 75%;
}

.content-container{
    background-color: #ffffff;
    opacity: 1;
    background-size: 50px 50px;
    background-image: repeating-linear-gradient(0deg, #a8a8a8, #a8a8a8 2.5px, #ffffff 2.5px, #ffffff);
	width: 70vw;
	height: 85vh;
	position: absolute;
	margin-left: 1vw;
    margin-top: 0.2vh;
	overflow-y: scroll;
}

.content-container.hovered {
    background-image: repeating-linear-gradient(0deg, #d4c99f, #d4c99f 2.5px, #f1e7c4 2.5px, #f1e7c4);
  }


.writing-container{
	margin-top: 7.5vh;
	width: 69vw;
	height: 85vh;
	position: relative;
	margin-left: 1vw;
 }

.reset-Container {
    display: flex;
    justify-content: right;
    font-size: 1vw;
}

#reset {
    position: fixed;
    margin-right: 2.5vw;
    margin-top: 3vh;
    border: none;
    color: #f8f5f0;
    background-color: gray;
    padding: 1vh 1vw;
    width: 5vw;
    text-align: center;
}

#reset:hover {
    border: 1px solid #f8f5f0;
    color: black;
    background-color: #f8f5f0;
    cursor: pointer;
}

/* css for buttons in header */
.button{
	border:none;
	outline:none;
	padding:1vh 1vw;
	cursor: pointer;
	z-index: 999;
}

.button:hover{
	background-color:#888;
}


/* mobile menu css */

.header {
	position: relative;
}

.mobile-navigation {
	max-height: 45vh;
	max-width: 25vw;
	position: fixed;
	display: flex;
	flex-direction: column;
	display: none;
	justify-content: left;
	padding: 1vw;
	margin-top: 0;
	margin-bottom: 0;
}

.mobile-navigation li {
	padding:1vw;
	font-size: 2.3vw;
	cursor: pointer;
	text-align: center;
}

.header.open .mobile-navigation {
	display: flex;
	background: white;
	color: #2c2c2c;
	position:fixed
}


/* small screen media query */
@media only screen and (max-width: 800px){
	.header-container{
		display: none;
	}

	.switch{
		display: none;
	}
	#mobile-heading{
		position: relative;
		font-weight: 600;
		text-align: center;
		font-size: 4vw;
        margin-top:1vh;
        margin-left:1vw;
	}

.mobile-icons{
	font-size: 2vw;
	top:0;
	display:flex;
	justify-content: space-evenly;
	flex-direction: row;
	width:100vw;
	gap:21vw;
    margin-left:1.5vw;
}

.mobile-filter {
	position: relative;
}

	.a{
		margin-left:2.4vw;
	}

	.mobile-navigation{
		margin-left: 3.3vw;
		margin-top:0;
		z-index: 9999;
	}
    
    .words-menu{
        width:23vw;
        margin-left:0;
        padding:0;
        margin-top:1.5vw;
        height:85vh
    }

    .writing-section{
        width: 65vw;
        margin-right:10vw;
        padding:0;
    }

    .writing-container{
        margin-top:6vw;
    }
    .content-container{
        margin-top: 1.5vw;
        background-size: 30px 30px;
        background-image: repeating-linear-gradient(0deg, #a8a8a8, #a8a8a8 1px, #ffffff 1px, #ffffff);
    }
	
    .content-container.hovered {
        background-image: repeating-linear-gradient(0deg, #d4c99f, #d4c99f 1px, #f1e7c4 1px, #f1e7c4);
      }

	img{
        max-width: 5vw;
        max-height: 4vh;
	}

	.topButtonContainer{
		position: fixed;
		right: 9vw;
	}

	#myBtn{
		font-size: 2vw;
		border-radius: 1vw;
		margin-bottom:7vh;
	}

    #reset{
        font-size: 2vw;
        position: fixed;
        margin-right: 2.5vw;
        margin-top: 3vh;
        padding: 1vh 3vw;
        width: 5vw;
        text-align: center;
        z-index: 999;
    }

}

/* large screen media query */
@media only screen and (min-width: 800px){
	.mobile-menu {
	  display: none;
	}
	#mobile-heading{
	  display: none;
  }
  .mobile-filter{
	  display: none;
  }
  .mobile-navigation{
	  display: none;
  }
  .right-mobileMenu{
	  display: none;
  }
  
  }