 @import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');


body{
    margin:0;
    font-family: 'Sulphur Point', sans-serif;
    background-color: rgb(251, 255, 198);
}

p{
  font-weight: 200;
  font-size: 2vw;
}

a:link { 
  text-decoration: none;
}
a{
  color:black
}

.text{
  display: none;
  font-size: 8vw;
  font-weight: 700;
  color: rgb(251, 255, 198);
}

.item1:hover .text{
  display: block;
}
.item2:hover .text{
  display: block;
}
.item3:hover .text{
  display: block;
}
.item4:hover .text{
  display: block;
}


.left{
  padding:1vw;
}

.right{
  padding:1vw;
  text-align: right;
}

.bleft{
  padding:1vw;
  position: absolute;
  bottom: 0;
}

.bRight{
  padding:1vw;
  right:0;
  position: absolute;
  bottom: 0;
}

.container{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  /* padding-top:5vh;
  padding-left:1vw;
  padding-right:1vw; */
  gap: 1vw;
  /* grid-template-columns:100px 200px; */
  grid-template-rows: 50vh 50vh;
  grid-template-areas: "header header main main"
  "sidebar sidebar footer footer"
}

.item1{
  background: linear-gradient(76deg,#d0ff87,#99e300,#ffc4af,#e9fc8f);
  background-size:  400% 400%;
  animation: gradient2 20s ease infinite;
  grid-area:header;
}
.item2{
  background: linear-gradient(90deg,#249732,#0dc874,#9aff27,#86db52);
  background-size:  400% 400%;
  animation: gradient2 20s ease infinite;
  grid-area:sidebar;
}
.item3{
  background: linear-gradient(280deg,#f59000,#af4c04,#ffec24,#ff3e00);
  background-size:  400% 400%;
  animation: gradient1 20s ease infinite;
  grid-area:main;
}
.item4{
  background: linear-gradient(82deg,#ffffff,#a7dfd8,#7e9bb1,#4592dd);
  background-size:  400% 400%;
  animation: gradient1 20s ease infinite;
  grid-area:footer;
}

@keyframes gradient1 {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes gradient2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}