body{
    background-color:#BADCFE;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px;
    padding: 50px;
}

h1,a{
    color:#FEFFEF;
}


.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .column1 {
    flex: 33%;
     border-style:solid;
     border-color:#FEFFEF;
     background-color:#1C92F4;
  }

  .column2 {
    flex: 33%;
    border-style:solid;
    border-color:#FEFFEF;
    background-color:#3E77CB;
  }

  .column3 {
    flex: 33%;
    border-style:solid;
    border-color:#FEFFEF;
    background-color:#114da5;
  }