@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


html{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

section #container{
    width:100%;
    height:100%;
}

#rec1{
position: absolute;
  animation: linear infinite ease;
  animation-name: move;
  animation-duration: 8s;
}

#rec2{
    position: absolute;
    margin-top: 30vw;
      animation: linear infinite ease;
      animation-name: move2;
      animation-duration: 10s;
    }

#rec3{
    position: absolute;
    animation: linear infinite ease;
    animation-name: move4;
    animation-duration: 7s;
    }

#rec4{
    position: absolute;
    margin-left: 40vw;
    animation: linear infinite ease;
    animation-name: move3;
    animation-duration: 5s;
    }

#rec5{
    position: absolute;
    margin-left: 80vw;
    animation: linear infinite ease;
    animation-name: move3;
    animation-duration: 12s;
    }

@keyframes move {
    0% {
      left: 0;
    }
    50% {
      left: 75%;
    }
    100% {
      left: 0;    
    }
  }

  @keyframes move2 {
    0% {
      right: 0;
    }
    50% {
      right: 80%;
    }
    100% {
      right: 0;    
    }
  }

  @keyframes move3 {
    0% {
      top: 0;
    }
    50% {
      top: 75%;
    }
    100% {
      top: 0;    
    }
  }


  @keyframes move4 {
    0% {
      top: 68%;
    }
    50% {
      top: 0%;
    }
    100% {
      top: 68%;    
    }
  }
    
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: black;
  }

  section{
    min-height: 100vh;
    display: flex;
  }

  section:nth-child(2){
    color: #ffffff;
    background: #000000;
  } 

  section .container{
    margin: 100px;
  }
  section .title {
    color: white;
   font-size: 8vw;
   position: absolute;
   bottom: 2vw;
   left: 2vw; 
   z-index: 99;
}
 
  section .text-container{
     position: relative;
     top:7vh;
  }

  section .text-container h1{
    font-size: 4vw;
    font-weight: 500;
    text-align: left;
  }

  section .text-container .text-box{
    position:absolute;
    width:25vw;
    height:4vw;
    margin: 1vw;
    padding: 1vw;
    margin-top:10vh;
    margin-left:30vw;
    background: #696969;
    transform: rotate(-65deg);
  }

  section .text-container .text-box2{
    position:absolute;
    width:20vw;
    height:12vw;
    margin: 1vw;
    padding: 1vw;
    margin-top:20vh;
    margin-left:42vw;
    background: #8f8f8f;
    transform: rotate(25deg);
    text-align: right;
  }

  section .text-container .text-box3{
    position:absolute;
    width:10vw;
    height:14vw;
    margin: 1vw;
    padding: 1vw;
    margin-top:-8vh;
    margin-left:48.3vw;
    background: #878787;
    transform: rotate(25deg);
    text-align: right;
  }


  section .text-container .text-box4{
    position:absolute;
    width:12vw;
    height:13vw;
    margin: 1vw;
    padding: 1vw;
    margin-top:37.8vh;
    margin-left:36.8vw;
    background: #8a8a8a;
    transform: rotate(25deg);
    text-align: right;
  }

  section .text-container .text-box5{
    position:relative;
    width:11vw;
    height:16vw;
    margin: 1vw;
    padding: 1vw;
    margin-top:40vh;
    margin-left:20vw;
    background: #a1a1a1;
    transform: rotate(25deg);
    text-align: right;
  }
  section .level-box{
    position: absolute;
    justify-content: center;
    top: 30vh;
    left: 83vw;
    color:white;
  }

  section .level-box p{
    text-align: center;
    padding:1vw;
    font-size: 0.9vw;
  }

  section .meter{
    width:4vw;
    height:25vh;
    margin-left: 0.8vw;
    background: rgb(65,65,65);
    background: linear-gradient(180deg, rgba(65,65,65,1) 28%, rgba(249,249,249,1) 100%);
  }
  
  
  section .text-box h3{
    font-size: 1.5vw;
    font-weight: 300;
    opacity: 0;
  }
  section .text-box:hover h3{
    opacity:1;
  }
  
  section .text-box2 h3{
    font-size: 1.5vw;
    font-weight: 300;
    text-align: right;
    opacity: 0;
  }

  section .text-box2:hover h3{
    opacity:1;
  }


  section .text-box3 h3{
    font-size: 1.5vw;
    font-weight: 300;
    text-align: right;
    opacity: 0;
  }
  section .text-box3:hover h3{
    opacity:1;
  }

  section .text-box4 h3{
    font-size: 1.5vw;
    font-weight: 300;
    text-align: right;
    opacity: 0;
  }

  section .text-box4:hover h3{
    opacity:1;
  }

  section .text-box5 h3{
    font-size: 1.5vw;
    font-weight: 300;
    text-align: left;
    opacity: 0;
  }

  section a{
    text-decoration:none; 
    color:inherit;
  }
  section .text-box5:hover h3{
    opacity:1;
  }
  
  @media (max-width: 900px){
    section h1{
      font-size: 2rem;
      text-align: center;
    }
    section .text-container{
      flex-direction: column;
    }
  }

  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }