@import url("https://use.typekit.net/axl0zpy.css");


html{
  font-family: bitcount-grid-single-line-ci, sans-serif;
  font-weight: 300;
  font-style: normal;
}



.text-container{
  position: relative;
  top: 17vh;
  left: 0vw;
    margin-top:0;
    margin:1vw;
    z-index: 99;
 }
 

 button {
  position: absolute;
    top: 15vh;
    padding: 0.5vw;
    right:2vw;
    cursor: pointer;
    background-color: rgb(255, 246, 113);
    z-index: 3;

 }
 /* #showAllButton{
    position: absolute;
    top: 15vh;
    padding: 0.5vw;
    right:2vw;
    background-color: rgb(255, 246, 113);
    border: none;
    cursor: pointer;
    z-index: 3;
 } */
  /*
 p{
    padding:0.5vw;
    background-color: rgb(248, 255, 148);
    text-align: center;
    width:5vw;
 } */

/* 
 .heading{
    position: relative;
    justify-content: left;
    position: static;
    margin-top: 20vh;
} */
h2{
  position: relative;
  text-align: left;
  z-index: 1;
  padding:1vw;
  margin-left: 2.5vw;
  font-weight: 200;
  color: #470A46;
}
h1{
  position: relative;
  text-align: right;
  z-index: 2;
  padding-right:1vw;
  margin-top:-10vh;
  font-size: 2.2vw;
  font-weight: 300;
  color: #470A46;
}


 #sketch-holder{
  width:100%;
  height:100%;
  margin-top:-11vh;
  margin-left:-0.5vw;
  z-index: -1;
 }

 .instruction{
  font-family: "bitcount-grid-single-circle", sans-serif;
  font-weight: 500;
  font-style: normal;
  position:absolute;
  font-size:1.5vw;
  padding-left:2vw;
  margin-top:55vh;
  color:#3ead61;
  z-index:99;
}

p{
  font-weight: 400;
  font-style: italic;
  color:black;
  font-size: 1vw;
}

.text-container .text-box{
    position:absolute;
    width:7vw;
    height:0.1vw;
    margin: 1vw;
    padding: 1vw;
    margin-top: -9vh;
    margin-left:4.5vw;
    background: #696969;
    transform: rotate(-65deg);
  }

.text-container .text-box2{
    position:absolute;
    width:6vw;
    height:2.5vw;
    margin: 1vw;
    padding: 1vw;
    margin-top: -5.8vh;
    margin-left: 9.6vw;
    background: #8f8f8f;
    transform: rotate(25deg);
    text-align: right;
  }

.text-container .text-box3{
    position:absolute;
    width:2vw;
    height:3.5vw;
    margin: 1vw;
    padding: 1vw;
    margin-top:-17vh;
    margin-left:12vw;
    background: #878787;
    transform: rotate(25deg);
    text-align: right;
  }


.text-container .text-box4{
    position:absolute;
    width:3vw;
    height:3vw;
    margin: 1vw;
    padding: 1vw;
    margin-top: 1.1vh;
    margin-left: 7.6vw;
    background: #8a8a8a;
    transform: rotate(25deg);
    text-align: right;
  }


  .text-container .text-box5 {
    position: absolute;
    width: 2vw;
    height: 4vw;
    margin: 1vw;
    padding: 1vw;
    margin-top: 0vh;
    margin-left: 1.1vw;
    background: #470A46;
    transform: rotate(25deg);
    text-align: right;
  }
  
  /*manhattan*/
.text-container .text-box:hover{
  background-color: #3ead61;
}

/* queens */
.text-container .text-box2:hover{
  background-color: #405635;
}

/* bronx */
.text-container .text-box3:hover{
  background-color: #105605;
}

/* brooklyn */
.text-container .text-box4:hover{
  background-color: #208617;
}
