video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter:brightness(120%);
  z-index:-1;
}

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

body{ 
  margin:50px;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.p1{
text-align:left;
font-family: 'Cormorant', serif;
font-size: 30px;
color: #69CDC8;
}

.pair1{
  text-align:right;
  font-family: 'Cormorant', serif;
  font-size: 30px;
  color: #69CDC8;
  display: none;
  }

#back{
font-family: 'Cormorant', serif;
font-style:italic;
font-weight: bold;
font-size: 35px;
margin-top: 20%;
text-align:center;
}

a{
  color: #ABD9D7;
}
a:hover{
   color: white;
  }

  .p1:hover + .pair1 {
    display: block;
}