video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter:brightness(120%);
  z-index:-1;
}

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

body{ 
  margin:50px;
}

.text{
  font-family: 'Cormorant', serif;
    font-size: 30px;
    color: #69BEB9;

}


.container{
  display:flex;
  flex-direction: column;
  row-gap: 100px;
}

.row {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

}

#text1b{
  opacity:0;

}

#text1a{
  cursor: pointer;
}

#text1a:hover ~ #text1b{
  opacity: 1;
  
}



#text2b{
  opacity:0;
}

#text2a{
  cursor: pointer;
}

#text2a:hover ~ #text2b{
  opacity: 1;
  
}


#text3b{
  opacity:0;
}

#text3a{
  cursor: pointer;
}

#text3a:hover ~ #text3b{
  opacity: 1;
  
}


/* * {
  box-sizing: border-box;
} */

/* Create two equal columns that floats next to each other */
/* .column {
  float: left;
  width: 50%;
  padding: 10px;
} */
/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */


/* .text:nth-child(odd){
  text-align:left;
}


.text:nth-child(even){
  text-align:right;
}
 */

/* .p1{
  position:relative;
text-align:left;
font-family: 'Cormorant', serif;
font-size: 30px;
color: #69BEB9;
}

.pair1{
  position:relative;
  margin-top: -11%;
  text-align:right;
  font-family: 'Cormorant', serif;
  font-size: 30px;
  color: #69BEB9;
  display:none;
  }

 .p1:hover + .pair1 {
  display: block;
} 


.p2{
position:relative;
margin-top:10%;
text-align:left;
font-family: 'Cormorant', serif;
font-size: 30px;
color: #69BEB9;
}

.pair2{
  position:relative;
  margin-top: -20%;
  text-align:right;
  font-family: 'Cormorant', serif;
  font-size: 30px;
  color: #69BEB9;
  display:none;
  }

  .p2:hover + .pair2 {
    display: block;
  } 
  

  .p3{
    position:relative;
  margin-top:10%;
  text-align:left;
  font-family: 'Cormorant', serif;
  font-size: 30px;
  color: #69BEB9;
  }
  
  .pair3{
    position:relative;
    margin-top:-19.5%;
    text-align:right;
    font-family: 'Cormorant', serif;
    font-size: 30px;
    color: #69BEB9;
    display:none;
    }
  
    .p3:hover + .pair3 {
      display: block;
    } */

#back{
font-family: 'Cormorant', serif;
font-style:italic;
font-weight: bold;
font-size: 25px;
margin-top: 5%;
text-align:center;
}

a{
  color: #69BEB9;
}
a:hover{
   color: white;
  }
