html, body {
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.15em;
}

/*container holding all the icons within the menu tab at the top*/
.header-container{
    padding:1.1vw;
    padding-top:2.5vh;
    top:0;
    position:fixed;
    flex-wrap:wrap
}

.header{
    display: flex;
    justify-content: flex-start;
    gap:10px;
    flex-wrap:wrap
}

/*icon with rounded borders*/
.icon1{
    border-style: solid;
    border-radius: 20px;
    padding: 4px;
    padding-left:.5vw;
    padding-right:.5vw;
     border-width: 1px;
  background-color: white;
}

/*icon with square borders*/
.icon2{
    border-style: solid; 
    padding: 4px;
    padding-left:.5vw;
    padding-right:.5vw;
    border-width: 1px;
    background-color: white;
    
}

/*icon with rounded borders on the radio tab (black strip)*/
.blackIcon{
    border-style: solid;
    border-radius: 20px;
    padding: 4px;
    padding-left:.5vw;
    padding-right:.5vw;
     border-width: 1px;
}


hr{
    position:relative;
    border-top: 1px solid;
    margin:1vw;
    margin-top:14vh;
    margin-bottom:0; 
    z-index:-1; 
}

/*container holding information of everything in the header of each exhibition (event)*/

.eventHeader{
    display: flex;
    padding:0.4vw;
    flex-wrap:wrap
}

.date{
    padding-top:0.5vw; 
}

/*container holding the square bordered icons within the events section*/
.tagsContainer{
    padding-left: 6vw;
    display: flex;
    gap: 6px;
    flex-wrap:wrap;
}


/*Bit title of exhibit names*/
.exhibitName{
    padding:1vw;
    width:95%;
    padding-bottom: 2.5vh;
    font-size: 6.9vw;
    font-weight: 400;
    letter-spacing: -0.2vw;
    line-height: 6vw;
}


/*container holding information in the radio tab (the black strip)*/
.radioTab{
    display:flex;
    padding-top:1vh;
    padding-bottom:1vh;
    gap:1vw;
    background-color:black;
    color:white;
    flex-wrap:wrap;
    padding-left:1.5vw;
}

.time{
    padding-top:0.5vw;
    padding-left:2vw; 
}

/*broadcast name*/
.radioShow{ 
    padding-top: 0.5vw;
    padding-left:5.2vw;
    width:32vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-wrap:wrap
    
}

/*container holding the round bordered icons in the radio tab*/
.radioTags{
    display:flex;
    gap:6px;
    flex-grow:1;
    flex-wrap:wrap
}


/*container holding ticket icon*/
.ticketContainer{
    position:relative;   
    margin-left: auto; 
    z-index: -1;
}

.ticket{
    flex-wrap:wrap
}

/*radio play button*/
.arrow {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    width: 1.5vw;
    height: 1.5vw;
    margin:.5vh;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

/*Container holding the research bar*/
.searchContainer{
    width:100vw;
    background-color: black ;
    /* padding:1vw; */
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.searchBox{
    padding-left: 1.5vw;
    padding-right: 1.5vw; 
}
.search{
    font-size:5.4em;
    font-weight: 400;
    color:white;
    border-style: solid;
    border-radius: 60px;
    padding:.5vh;
    border-width:1px;
    padding-left:3vw;
    letter-spacing: -0.2vw;
}


/*Small size devices */
@media only screen and (max-width: 800px) {
    .header-container{
        font-size: 0.9em;
    }

    .eventHeader{
        font-size: 0.9em;
    }

    .tagsContainer{
        padding-left: 0;
    }

    .radioTab{
        font-size: 0.9em;
    }

    .radioShow{
        width:100%;
        text-overflow:clip; 
        white-space: initial;
 
    }

    .date{
        padding-right:15vw; 
    }

    .exhibitName{
        font-size: 12vw;
        line-height: 11vw;
        width:100%;
        padding-right: 1vw;
    }

    .search{
        font-size:12vw;
        padding-left:5vw;
    }

    .arrow{
        width: 3.5vw;
        height: 3.5vw;
    }

}

/* Medium-size devices */
@media only screen and (max-width: 1020px) {
    /* .exhibitName{
        font-size: 4em;
        line-height: 10vh;
    } */


    .radioShow{
        width:100vw;
        text-overflow:clip; 
        white-space: initial;
        padding-left:0vw;
    }
  

    .time{
        padding-left:5vw; 
    }
}
