body{
    background-color: aquamarine;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 100px;
    padding: 50px;
}

p{
    color:rgb(255, 177, 149);
}

img {
    width: 200px;
}