.container{
 height:0vh;
position:relative;
}

p{
  font-family: 'Ballet', cursive;
  font-size: 80px;
}

.title {
  position: absolute;
  z-index: 99;
  padding:0;
  top: -8%;
  left:3%;
}

.backDoor
{
  background-color: #333;
  position:relative;
  width:101px;
  height:161px;
  margin: 0 auto;
  bottom:50%;
  margin-top:200px;
  translate: 370px 0px;
  opacity:0%;
}

.backDoor:hover{
  opacity:100%;
}

.door
{
  background: linear-gradient(#DEDCE9, #ffffff);
  position:absolute;
  top:0px;
  left:0px;
  width:101px;
  height:161px;

  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.knob
{  height: 10px;
    width: 10px;
    background-color: #989898;
    border-radius: 50%;
    margin-top:200px;
    margin-left:210px;
    translate: -130px -120px;
}


.backDoor2
{
  background-color: #333;
  position:relative;
  width:101px;
  height:161px;
  margin: 0 auto;
  bottom:50%;
  margin-top:200px;
  translate: 500px 0px;
  opacity:0%;
  
}

.backDoor2:hover{
  opacity:100%;
}

.door2
{
  background: linear-gradient(#EAC1DC, #ffffff);
  position:absolute;
  top:0px;
  left:0px;
  width:101px;
  height:161px;

  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.knob2
{  height: 10px;
    width: 10px;
    background-color: #989898;
    border-radius: 50%;
    margin-top:200px;
    margin-left:210px;
    translate: -130px -120px;
}


.backDoor3
{
  background-color: #333;
  position:relative;
  width:101px;
  height:161px;
  margin: 0 auto;
  bottom:50%;
  margin-top:200px;
  translate: 150px -450px;
  opacity:0%;
}

.backDoor3:hover{
  opacity:100%;
}

.door3
{
  background: linear-gradient(#D2E0F2, #ffffff);
  position:absolute;
  top:0px;
  left:0px;
  width:101px;
  height:161px;

  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.knob3
{  height: 10px;
    width: 10px;
    background-color: #989898;
    border-radius: 50%;
    margin-top:200px;
    margin-left:210px;
    translate: -130px -120px;
}


.backDoor4
{
  background-color: #333;
  position:relative;
  width:101px;
  height:161px;
  margin: 0 auto;
  bottom:50%;
  margin-top:200px;
  translate: 50px -1190px;
  opacity:0%;
}

.backDoor4:hover{
  opacity:100%;
}

.door4
{
  background: linear-gradient(#FFE3BF, #ffffff);
  position:absolute;
  top:0px;
  left:0px;
  width:101px;
  height:161px;

  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.knob4
{  height: 10px;
    width: 10px;
    background-color: #989898;
    border-radius: 50%;
    margin-top:200px;
    margin-left:210px;
    translate: -130px -120px;
}


.backDoor5
{
  background-color: #333;
  position:relative;
  width:101px;
  height:161px;
  margin: 0 auto;
  bottom:50%;
  margin-top:200px;
  translate: 600px -1600px;
  opacity:0%;
  
}

.backDoor5:hover{
  opacity:100%;
}

.door5
{
  background: linear-gradient(#DDF1DC, #ffffff);
  position:absolute;
  top:0px;
  left:0px;
  width:101px;
  height:161px;

  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.knob5
{  height: 10px;
    width: 10px;
    background-color: #989898;
    border-radius: 50%;
    margin-top:200px;
    margin-left:210px;
    translate: -130px -120px;
}


.backDoor6
{
  background-color: #333;
  position:relative;
  width:101px;
  height:161px;
  margin: 0 auto;
  bottom:50%;
  margin-top:200px;
  translate: -200px -1650px;
  opacity:0%;
}

.backDoor6:hover{
  opacity:100%;
}

.door6
{
  background: linear-gradient(#EED7CB, #ffffff);
  position:absolute;
  top:0px;
  left:0px;
  width:101px;
  height:161px;

  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}


.knob6
{  height: 10px;
    width: 10px;
    background-color: #989898;
    border-radius: 50%;
    margin-top:200px;
    margin-left:210px;
    translate: -130px -120px;
}


.backDoor7
{
  background-color: #333;
  position:relative;
  width:101px;
  height:161px;
  margin: 0 auto;
  bottom:50%;
  margin-top:200px;
  translate: -450px -1850px;
  opacity:0%;
}
.backDoor7:hover{
  opacity:100%;
}

.door7
{
  background: linear-gradient(#94CFCC, #ffffff);
  position:absolute;
  top:0px;
  left:0px;
  width:101px;
  height:161px;

  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.knob7
{  height: 10px;
    width: 10px;
    background-color: #989898;
    border-radius: 50%;
    margin-top:200px;
    margin-left:210px;
    translate: -130px -120px;
}

.backDoor8
{
  background-color: #333;
  position:relative;
  width:101px;
  height:161px;
  margin: 0 auto;
  bottom:50%;
  margin-top:200px;
  translate: -600px -2560px;
  opacity:0%;
}

.backDoor8:hover{
  opacity:100%;
}

.door8
{
  background: linear-gradient(#D5D0FF, #ffffff);
  position:absolute;
  top:0px;
  left:0px;
  width:101px;
  height:161px;

  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.knob8
{  height: 10px;
    width: 10px;
    background-color: #989898;
    border-radius: 50%;
    margin-top:200px;
    margin-left:210px;
    translate: -130px -120px;
}


.doorOpen
{
  /*perspective creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

