.backDoor
{
  background-image: url("imgs/room.png");
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: center;
  position:relative;
  width:260px;
  height:430px;
  margin: 0 auto;
  bottom:50%;
  margin-top:160px;
}

.door
{
  background: linear-gradient(#B8CED4, #ffffff);
  position:absolute;
  top:0px;
  left:0px;
  width:260px;
  height:430px;
  transform-origin: left;
  transition: all 0.5s ease-in-out;
}

.doorOpen
{
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}


.knob
{  height: 25px;
    width: 25px;
    background-color: #989898;
    border-radius: 50%;
    margin-top:200px;
    margin-left:210px;
}

.knob{
      animation: glow 1.5s linear infinite;
}

.peephole
{  height: 10px;
    width: 10px;
    background-color:white;
    border-radius: 50%;
    outline-style:solid;
    outline-width:2px;
    outline-color: #989898;
    margin-top:-130px;
    margin-left:130px;
}

.peephole{
  animation: glow 1.5s linear infinite;
}

@keyframes glow {
  0%, 100% {
    box-shadow:  none;
  }
  50% {box-shadow: 0 0 15px 15px#f0fdff;}
  
}
.peephole:hover{
  height: 15px;
  width: 15px;
  margin-left:125px;
}


