/* video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: brightness(120%);
  z-index: -1;
} */

img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: opacity(60%);
  z-index: -1;
}


*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

body{
  position: relative;

}

.text{
  font-family: 'Cormorant', serif;
  font-size: 25px;
  color: #C88AB3;
  line-height: 40px;
  font-weight: 300;
  text-align: right;
  width: 500px;
  margin-left:auto;
}

#a{
font-size: 50px;
line-height: 80px;
text-align: justify;
font-weight: 600;
font-style: italic;
color: #C88AB3;
}
#b{
  font-size: 50px;
  line-height: 100px;
  text-align: center;
  font-weight: 600;
font-style: italic;
color: #d99ac4;
  }
#c{
font-size: 50px;
line-height: 100px;
text-align: center;
font-weight: 600;
font-style: italic;
color: rgb(225, 182, 211);
}
#d{
  font-size: 50px;
  line-height: 100px;
  font-weight: 600;
font-style: italic;
color:#ebc3dd;
  }

#e{
color:#ebc3dd;
}

#d1{
  font-size: 50px;
  line-height: 80px;
  text-align: justify;
  font-weight: 600;
  font-style: italic;
  color: #C88AB3;
  }
  #c1{
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    font-weight: 600;
  font-style: italic;
  color: #d99ac4;
    }

  #b1{
  font-size: 50px;
  line-height: 100px;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  color: rgb(225, 182, 211);
  }
  #a1{
    font-size: 50px;
    line-height: 80px;
    font-weight: 600;
  font-style: italic;
  color:#ebc3dd;
    }
  

#back{
  font-family: 'Cormorant', serif;
  font-style:italic;
  font-weight: bold;
  font-size: 25px;
  position:relative;
  text-align: center;
  
  }

  a{
    color:#C88AB3;
  }
  a:hover{
     color: white;
    }

