/* video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
  filter:brightness(120%)
} */

img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: opacity(55%);
  z-index: -1;
}


*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

body{ 
  padding: 50px;
}

.text
{text-align:justify;
font-family: 'Cormorant', serif;
font-size: 24px;
line-height:30px;
width:500px;
margin-left:auto;

color: #aea5ff;
}


#back{
font-family: 'Cormorant', serif;
font-style:italic;
font-weight: bold;
font-size: 25px;
margin-top: 15%;
text-align:center;
}

a{
  color: #aea5ff;
}
a:hover{
   color: white;
  }

