/* video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter:brightness(120%);
  z-index:-1;
  
} */

img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: opacity(55%);
  z-index: -1;
}

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}
body {
  margin:10%;
  font-family: 'Cormorant', serif;
  font-weight:200;
  font-size:40px;
  padding:20px;
  text-align: justify;
}

.type {
  color:#0000;
  background:
    linear-gradient(-90deg,#89bd86 5px,#0000 0) 10px 0,
    linear-gradient(#89bd86 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
   b .2s infinite steps(1),   
   t calc(var(--n)*0.05s) steps(var(--n)) forwards;
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

#back{
  font-family: 'Cormorant', serif;
  font-style:italic;
  font-weight: bold;
  font-size: 25px;
  margin-top: 20%;
  text-align:center;
  }
  
  a{
    color: #89bd86;
  }
  a:hover{
     color: white;
    }