video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
  filter:brightness(120%)
}

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

body{
  color:#9C98B5;
}
 
.center{
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.sentence1{
  font-style: italic;
  font-family: 'Cormorant', serif;
  font-size: 40px;
}

.sentence {
  position: absolute;
  font-size: 18px;
  max-width: 500px;
  font-family: 'Cormorant', serif;
}

#back{
  position: relative;
  font-family: 'Cormorant', serif;
  font-style:italic;
  font-weight: bold;
  font-size: 25px;
  top:90vh;
  text-align:center;

  }

  a{
    color:#9C98B5;
  }
  a:hover{
     color: white;
    }

